/* 
reset
 */

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* 
 HEADER
 */

header{
  max-width: 700px;
  margin: 0 auto ;
  text-align: center;
}

header > *{
  margin: 20px 0 ;
}

header p{
  line-height: 20px;
}


/* 
 MAIN
 */
 main {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .team-container{
   max-width: 1500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }

 .team-container > *{
   width: calc((100% / 3) -20px );
   margin-left: 10px;
   margin-right: 10px;
 }

 li {
  list-style-type: none ;
  text-align: center;
  margin-top: 20px;
 }


